NEXTAUTH_URL=https://formbricks.example.com
WEBAPP_URL=https://formbricks.example.com
PRIVACY_URL=https://formbricks.example.com/privacy
TERMS_URL=https://formbricks.example.com/terms
SIGNUP_DISABLED=0
EMAIL_VERIFICATION_DISABLED=1
INVITE_DISABLED=0
# Set to true to skip migrations at startup (run them as a separate Job instead)
# SKIP_STARTUP_MIGRATION=true
